﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE HTML>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">

    @if (!string.IsNullOrEmpty(Model.Title))
    {
        <title>@Model.Title - That Extra Mile</title>
    }
    else
    {
        <title>That Extra Mile</title>
    }

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Company website of That Extra Mile">
    <meta name="viewport" content="width=980, maximum-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/reset.css" media="screen, projection">
    <link rel="stylesheet" href="/css/master.css" media="screen, projection">

    <script src="/js/libs/modernizr.min.js"></script>

    <!--[if IE]>
			<link rel="stylesheet" href="css/ie.css"/>
		<![endif]-->
    <!--[if lt IE 9]>
			<script src="js/libs/nwmatcher-1.2.4.js"></script>
			<script src="js/libs/selectivizr.js"></script>
		<![endif]-->

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-24940518-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>

<body>

    <div id="container">
        <header role="banner" id="header">
            <h1 id="logo"><a href="http://thatextramile.be">Logo</a></h1>
        </header>

        <div id="content-container" class="group">
            <nav id="primary-nav" role="navigation">
                <ul>
                    <li class="@(Model.Section == "Home" ? "active" : "")"><a href="/">home</a></li>
                    <li class="@(Model.Section == "Blog" ? "active" : "")"><a href="/blog">blog</a></li>
                    <li class="@(Model.Section == "Consulting" ? "active" : "")"><a href="/consulting">consulting</a></li>
                    <li class="@(Model.Section == "Training" ? "active" : "")"><a href="/training">training</a></li>
                    <li class="@(Model.Section == "Reviews" ? "active" : "")"><a href="/reviews">reviews</a></li>
                    <li class="@(Model.Section == "Contracting" ? "active" : "")"><a href="/contracting">contracting</a></li>
                    <li><a href="#contact_section">contact</a></li>
                </ul>
            </nav>

            <div id="content" role="main">
                <article>@RenderBody()</article>
            </div>
        </div>

        <footer id="footer" role="contentinfo">
            <div class="inner group">
                <section class="contact" id="contact_section">
                    <h1 class="title">contact me
                    </h1>
                    <p>
                        <strong>DAVY BRION</strong><br />
                        ANTWERPSESTRAAT 263/1<br />
                        B-2640 MORTSEL<br />
                        +32 498 92 44 37<br />
                        <a href="mailto:davy.brion@thatextramile.be">davy.brion@thatextramile.be</a>
                    </p>
                    <p>
                        <a href="https://twitter.com/davybrion" class="twitter-follow-button" data-show-count="true">Follow @@davybrion</a>
                        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>                    
                        @*                        <a href="http://www.linkedin.com/in/davybrion"><img src="/images/icons/linkedin.png" alt="linkedin"></a>*@
                        <a href="https://github.com/davybrion">GitHub</a>
                        <a href="http://coderwall.com/davybrion">Coderwall</a>
                        <a href="http://www.linkedin.com/in/davybrion">LinkedIn</a>
                    </p>
                    <p>
                    </p>
                </section>

                <section class="blog">
                    <hgroup class="title">
                        <h1>Most recent blog posts</h1>
                    </hgroup>
                    <div class="blog-teaser-overview">
                        <ul>
                            <li><time class="date">14/5</time><a href="http://thatextramile.be/blog/2012/05/and-thats-all-folks/">And… That’s All Folks</a></li>
                            <li><time class="date">13/5</time><a href="http://thatextramile.be/blog/2012/05/why-things-dont-work-in-your-world/">Why Things Don’t Work In Your World</a></li>
                            <li><time class="date">6/5</time><a href="http://thatextramile.be/blog/2012/05/three-strikes-and-you-refactor/">Three Strikes And You Refactor</a></li>
                            <li><time class="date">19/4</time><a href="http://thatextramile.be/blog/2012/04/its-not-about-the-number-of-hours-you-put-in/">It’s Not About The Number Of Hours You Put In</a></li>
                            <li><time class="date">9/4</time><a href="http://thatextramile.be/blog/2012/04/microsoft-and-open-source-hoping-for-better-collaboration/">Microsoft And Open Source: Hoping For Better Collaboration</a></li>
                        </ul>
                    </div>
                </section>

                <div class="copyright">
                    &copy; 2012
                    <img src="/images/assets/logo-small.png">
                </div>
            </div>

        </footer>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="/js/libs/jquery-1.7.1.min.js"%3E%3C/script%3E'))</script>
    <script src="/js/plugins.js"></script>
    <script src="/js/master.js"></script>
</body>
</html>
