@using ThatExtraMile.be.ViewModels
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "_Layout.cshtml";
}
@Html.Partial("BlogPost", new BlogPostViewModel { Content = Model.Content, Post = Model.Post })

<p>
@if (Model.PreviousPost != null)
{
<span class="previous_post"><a href="@Model.PreviousPost.Link">&laquo; @Model.PreviousPost.Title</a></span>
}

@if (Model.NextPost != null)
{
<span class="next_post"><a href="@Model.NextPost.Link">@Model.NextPost.Title &raquo;</a></span>                                                     
}
</p>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'theinquisitivecoder';
    var disqus_url = 'http://davybrion.com' + '@Model.Post.Link';

    (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>